<header>
  <ul class="gnav">
    <li><a href="">Menu1</a>
      <ul>
        <li><a href="">Child1</a></li>
        <li><a href="">Child2</a></li>
        <li><a href="">Child3</a></li>
        <li><a href="">Child4</a></li>
        <li><a href="">Child5</a></li>
      </ul>
    </li>
    <li><a href="">Menu2</a></li>
    <li><a href="">Menu3</a></li>
    <li><a href="">Menu4</a></li>
    <li><a href="">Menu5</a></li>
</ul>
</header>