// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.gnav {
  display: flex;
  height: 2rem;
  margin: 0 auto;
  width: 1000px;
}
.gnav > li {/*親階層のみ幅を25%にする*/
  width: 25%;
}
/*全てのリスト・リンク共通*/
.gnav li {
  list-style: none;
  position: relative;
}
.gnav li a {
  background: #001b34;
  border-right: 1px solid #eee;
  color: #fff;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.gnav li li {
  height: 0;
  overflow: hidden;
  transition: .5s;
}
.gnav li li a {
  border-top: 1px solid #eee;
}
.gnav li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}